# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk16

services:
  - postgresql

before_install:
  - psql -c 'create database trackertest;' -U postgres

# используем режим обычного пользователя для сборки проекта.
sudo: false

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на почту если сборка упала
notifications:
  email:
    recipients:
      -maks.java@yandex.ru
    on_success: never # default: change
    on_failure: always # default: always
#
env:
  global:
    - CODECOV_TOKEN="4b5ff85d-92cd-48f7-bc53-d28e76c7f2f6"